input[type="number"]{
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
textarea{
    width: 200px;
    height: 80px;
    max-width: 200px;
    max-height: 100px;
}

.cancel{
    color:#ffffff;
}