.breadcrumb {
    margin-bottom: 10px;
}
#content{
    max-width: 100%;
    max-height: 214px;
}
.has_error{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
@media only screen and (max-width: 480px) {
    .btn-sh{
        width: 100%;
        line-height: 1.33;
        border-radius: 4px;
    }
    .btn:hover{
        color: #fff;
        background-color: #3071a9;
        border-color: #285e8e;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .btn-sh{
        width: 100%;
        padding: 10px 16px;
        line-height: 1.33;
        border-radius: 4px;
    }
}